nav {
  margin: 2vw;
  background: linear-gradient(
    to right top,
    #c0adf7,
    #28195a
  ); /* Gradient from top-left to bottom-right */
  padding: 1.5vh;
}

.menuItems {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of menu items on smaller screens */
  justify-content: center; /* Center the menu items */
  padding: 0;
  margin: 0;
}

.menuItems li {
  margin: 1vh 0.8vw;
}

.menuItems li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 95%;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Beautiful text shadow */
}

.menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #8254ff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
